<template>
  <div>
    <h3>To Do</h3>

    <!-- 新規作成部分 -->
    <div class="row">
      <div class="col s10 m11">
        <input v-model="new_task.name" class="form-control" placeholder="Add your task!!">
      </div>
      <div class="col s2 m1">
        <div v-on:click="createTask" class="btn-floating waves-effect waves-light red">
          <i class="material-icons">add</i>
        </div>
      </div>
      <div class="col 12">
        <p v-for="error in errors" v-bind:key="error" class="error" style="color: red;">{{ error }}</p>
      </div>
    </div>

    <!-- リスト表示部分 -->
    <div id="task-todo-index">
      <ul class="collection">
        <li v-for="task in tasks.todo" v-bind:key="'task_' + task.id" v-bind:id="'row_task_' + task.id" class="collection-item">
          <label v-bind:for="'task_' + task.id">
            <input type="checkbox" v-on:change="doneTask(task.id)" v-bind:id="'task_' + task.id" />
            <span>{{ task.name }}</span>
          </label>
        </li>
      </ul>
    </div>

    <!-- 完了済みタスク表示ボタン -->
    <div class="btn" v-on:click="displayDoneTasks">Display finished tasks</div>

    <!-- 完了済みタスク一覧 -->
    <div id="task-done-index" class="display_none">
      <ul class="collection">
        <li v-for="task in tasks.done" v-bind:key="'task_' + task.id" v-bind:id="'row_task_' + task.id" class="collection-item">
          <label v-bind:for="'task_' + task.id"  class="line-through">
            <input type="checkbox" v-bind:id="'task_' + task.id" checked="checked" />
            <span>{{ task.name }}</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  const authenticity_token = document.getElementsByName('csrf-token')[0].content;

  export default {
    data: function () {
      return {
        // 全タスク
        tasks: {
          done: [], // 完了タスク
          todo: []  // 未完了タスク
        },
        // 新タスク
        new_task: {
          name: '' // タスク名
        },
        errors: []
      }
    },
    mounted: function () {
      this.fetchTasks();
    },
    methods: {
      // 取得したタスクを「完了済み」「未完了」に分ける
      fetchTasks: function () {
        axios.get('/api/tasks').then((response) => {
          for(var i = 0; i < response.data.tasks.length; i++) {
            if (response.data.tasks[i].is_done) {
              this.tasks.done.push(response.data.tasks[i]);
            } else {
              this.tasks.todo.push(response.data.tasks[i]);
            }
          }
        }, (error) => {
          console.log(error);
        });
      },
      displayDoneTasks: function() {
        document.querySelector('#task-done-index').classList.toggle('display_none');
      },
      createTask: function () {
        if (!this.new_task) return;

        axios.post('/api/tasks', {
          authenticity_token: authenticity_token,
          task: { name: this.new_task.name }
        }).then((response) => {
          this.tasks.todo.unshift(response.data.task);
          this.new_task.name = '';
          this.errors = [];
        }).catch(error => {
          if (error.response.data && error.response.data.errors) {
            this.errors = error.response.data.errors;
          }
        });
      },
      doneTask: function (task_id) {
        axios.put('/api/tasks/'+task_id, {
          authenticity_token: authenticity_token,
          task: { is_done: 1 }
        }).then((response) => {
          this.moveFinishedTask(task_id);
        }, (error) => {
          console.log(error);
        });
      },
      moveFinishedTask: function(task_id) {
        var el = document.querySelector('#row_task_' + task_id);

        // DOMをクローンしておく
        var el_clone = el.cloneNode(true);

        // 未完了の方を先に非表示にする
        el.classList.add('display_none');

        // スタイルなどを足していく
        el_clone.getElementsByTagName('input')[0].checked = 'checked';
        el_clone.getElementsByTagName('label')[0].classList.add('line-through');
        el_clone.getElementsByTagName('label')[0].classList.remove('word-color-black');

        // 完了済みに追加
        var li = document.querySelector('#task-done-index > ul > li:first-child');
        document.querySelector('#task-done-index > ul').insertBefore(el_clone, li);
      }
    }
  }
</script>

<style scoped>
  [v-cloak] {
    display: none;
  }
  .display_none {
    display:none;
  }
  /* 打ち消し線を引く */
  .line-through {
    text-decoration: line-through;
  }
</style>
